<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebG</title>
    <link rel="stylesheet" href="/css/Notification.css">
    
</head>
<body>

    <div class="header">
        <nav>
            <button id="nav"><b>&#10142;</b></button>
            <span id="webg">WebG</span>
        </nav>
    </div>
    <!-- Notification Body -->
    <section class="outerContainer">
        
    </section>

    <script src="/js/Notification.js"></script>
</body>
</html>