*{
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #fff;
    cursor: default;
    text-decoration: none;
    list-style: none
}
body{
    background-color: snow;
    overflow: hidden;
    color: #e2a9f4;
}
/* ========================= display chat screen none =============================  */
.Chat_Section{
    display: none;
}
div[class~="bx"]{
    font-size: 1.1em;
    margin: auto;
    align-items: center;
    justify-content: center;
}
:root{
    --bg-color: #050c74;
    --bd-color: skyblue;
    --font-size: .6em;
    --grey-color: #050c7440;
}
.header nav, .chatHeader nav{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    width: 100%;
    height: 30px;
    top: 0;
    position: fixed;
    z-index: 1000;
}
.header h1{
    font-size: 1.3em;
    margin-left: 20px;
}
.header nav ul{
    display: inherit;
    align-items: center;
    margin-left: auto;
}
.header nav ul li{
    padding-right: 20px;
}
#readOut{
    display: flex;
    font-size: 0.7em;
    position: absolute;
    left: 25%;
    u{
        padding-left: 5px;
    }
}
#menu{
    font-size: 1.5em;
    margin-right: -20px;
}
#notification, #menu{
    font-weight: 100;
    transform: scale(1);
    transition: transform 0.3s, color 0.4s;
}
#notification:active, #menu:active {
    color: var(--bd-color);
    transform: scale(0.9);
}
/* Settings Menu ============================== */
.setting{
    display: none;
    border-left: 2px solid #050c74;
    box-shadow: -1px 0px 30px #0000004f, -1px 0px 10px 1px #7774d711;
    position: absolute;
    width: 50%;
    height: 100vh;
    background-color:  snow;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
}
.setting .set-header{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    position: absolute;
    background-color: #050c74;
    width: 100%;
    height: 120px;
    line-height: 35px;
}
.setting .set-header b{
    display: flex;
    position: absolute;
    left: 10px;
    transform: scale(0.8);
}
.setting .set-header b:active{
    transform: scale(0.7);
}
.setting .set-header h4{
    margin-top: 25px;
    font-weight: 500;
    font-size: 0.9em;
}
.setting #set-prof-img{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    width: 100px;
}
.setting #set-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #eee;
    border: 2px solid var(--bg-color);
    box-shadow: 0px 0px transparent;
}
.setting p{
    display: inline;
    margin-top: 10px;
    text-transform: capitalize;
    color: #000000c8;
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: 1px;
    text-align: center;
    width: 320px;
    transform: translate(-100px);
    transition: color 0.4s, ease linear
}
.setting #sim{
    color: #00000088;
    margin-left: 10px;
    font-size: 0.9em;
}
.setting #imgLoadErr{
    display: flex;
    width: 481px;
    color: #ff0000;
    margin: 0 auto;
    justify-content: center;
    transform: translateX(-185px);
    font-size: 0.9em;
    text-align: center;
}
.setting .imgFolder{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    label{
        margin: auto 20px;
        margin-top: 45px;
        transform: scale(1);
        background-color: #ffffffa7;
        padding: 14px;
        border-radius: 50px;
        transition: transform 0.4s, ease linear
    }
    .bx{
        color: var(--bg-color);
        transform: translate(5px, -10px);
    }
}
.setting #editProfileImg{
    display: none;
}
.setting label:active{
    background-color: #ffffffa7;
    transform: scale(0.99);
}
.setting input{
    display: none;
}
.setting ol{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
}
.setting ol li{
    display: flex;
    background-color: #00000010;
    color: #000000;
    position: relative;
    margin: 10px 20px;
    padding: 10px 5px 10px 10px;
    border-radius: 4px;
    font-size: 0.8em;
    align-items: center;
    transition: background-color 0.4s, ease linear;
    #isAutomate{
        display: none;
        color: rgb(0, 255, 0);
        font-weight: 900;
        margin: auto;
        position: absolute;
        right: 10px;
        background-color: var(--bg-color);
        padding: 2px 4px;
        border-radius: 4px;
    }
    .bx{
        color: #000000;
        position: absolute;
        right: 10px;
        margin: auto;
        align-items: center;
        font-size: 1.3em;
    }
    a{
        width: 100%;
        display: flex;
        pre{
            margin: auto 0;
            padding-left: 5px;
            color: red;
            font-size: .9em;
        }
    }
}
.setting small{
    display: none;
    position: absolute;
    bottom: 1%;
    right: 0;
    left: 0;
}
.trip{
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-right: auto;
    height: 35px;
    overflow: hidden;
    .trip > div{
        display: flex;
        margin-top: 7px;
        padding: 3px 7px;
        font-size: 0.9em;
        visibility: hidden;
        opacity: 0;
        transition: visibility .3s, opacity .5s, ease linear;
        .bx, pre{
            color: #023489;
        }
        .bx:hover{
            color: #eee;
        }
    }
    .bx-play, .bx-x{
        margin-left: auto;
        margin-right: 0px;
        transform: translateX(-50px) scale(1.4);
        transition: all .5s, ease linear;
    }
    .bx-play{
        transform: translateX(-80px) scale(1.4);
    }
    .bx-play:hover, .bx-x:hover{
        background-color: #140589;
        border-radius: 4px;
    }
}
.trip > div .showTripContent{
    visibility: visible;
    opacity: 1;
}
.setting ol li:hover{
    background-color:  #050c7440;
    p{
        color: var(--bg-color);
    }
}
.setting ol li a{
    color: #000000;
    width: 100%;
}
.setting ol #opt{
    margin: 10px 0;
    border-radius: 0;
}
.setting ol #opt:hover{
    background-color: #00000010;
}
.symbol{
    display: none;
    position: absolute;
    top: 0;
    transform: scale(0.35) translateX(5.5px) translateY(-15px);
    border: var(--bg-color) solid 3px;
    border-radius: 50px
}
#symbol{
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #ff0000;
    border-radius: 50px
}
.header nav ul li img{
    margin-top: 4px;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color: #def3f9;
    border: 1px solid var(--bd-color);
    box-shadow: 1px 1px 11px #00d5ff;
    transform: scale(1);
    transition: transform 0.3s;
}
/* SIGNAL LOADER */
.accSignal, .accSignal::before{
    display: inline-block;
    border: 11px double transparent;
    border-top-color: #04a35f;
    border-radius: 50%;
    box-sizing: border-box;
    transform: scale(0.85);
}
.accSignal{
    display: none;
    margin-top: 10px;
    margin-bottom: -20px;
    padding: 1px;
    animation: wifiLoading 2s ease-in infinite;
}
.accSignal::before{
    content: '';
    width: 0;
    height: 0;
    animation: wifiLoading2 1.3s ease-out infinite;
}
@keyframes wifiLoading {
    25% {
        border-style: solid;
    }
    50% {
        border-style: double;
    }
    75% {
        border-style: solid;
    }
    100% {
        border-style: double;
        border-top-color: #ff0000;
    }
}
@keyframes wifiLoading2 {
    0% {
        border-style: solid;
    }
    100% {
        border-style: double;
        border-top-color: #ff0000;
    }
}
.stopLoader, .stopLoader::before{
    display: inline-block;
    border: 20px double transparent;
    border-top-color: #04a35f;
    border-radius: 50%;
    box-sizing: border-box;
}
.stopLoader{
    margin-top: 10px;
    margin-bottom: -20px;
    padding: 4px;
}
.stopLoader::before{
    content: '';
    width: 0;
    height: 0
}
/* ================================================= Recording ================================================= */
.rec{
    display: none;
    .onRecording{
        display: flex;
        position: absolute;
        width: 0px;
        top: 100px;
        right: 45px;
        border: 1px solid var(--bd-color);
        border-radius: 4px;
        background-color: #ce0000;
        overflow: hidden;
        transition: width .1s, ease linear;
        z-index: 900;
        ul{
            display: flex;
            font-size: 0.7em;
            padding: 0 6px;
        }
        li{
            display: flex;
            margin: auto 3px;
            align-items: center;
        }
        .bx{
            font-size: 1.5em;
        }
    }
    #displayRec{
        display: flex;
        position: absolute;
        top: 98px;
        right: 20px;
        padding: 2px 3px;
        border-radius: 3px;
        background-color: var(--bg-color);
        overflow: hidden;
        transform: scale(0.9);
        z-index: 900;
    }
    #displayRec:active{
        transform: scale(0.85);
    }
}
.header .buddies{
    margin: 0 auto;
}
.header .buddies ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 35%;
}
.header .buddies ul li{
    display: flex;
    margin-top: 10px;
}
#first-frnd-msgIcon, #second-frnd-msgIcon, #third-frnd-msgIcon{
    display: none;
    position: fixed;
    margin-top: 30px;
    margin-left: 25px;
    background-color: var(--bg-color);
    color: rgb(8, 252, 142);
    padding-right: 2px;
    border-radius: 2px;
    transform: scale(1.2);
    transition: transform 0.3s;
    z-index: 800;
}
#first-frnd-msgIcon:active, #second-frnd-msgIcon:active, #third-frnd-msgIcon:active{
    transform: scale(0.99);
}
.header .buddies ul li img{
    position: fixed;
    width: 30px;
    height: 40px;
    background-color: #def3f9;
    border-radius: 50px;
    margin-top: 30px;
    box-shadow: 0px 1px 8px #000000a2;
    transform: scale(1);
    transition: transform 0.3s,  border 0.5s;
    z-index: 800;
}
.header .buddies ul img:active{
    border: 2px solid var(--bg-color);
    transform: scale(0.92);
}
.buddiesPanel{
    width: 100%;
    font-size: 0.7em;
    line-height: 18px;
    position: fixed;
    bottom: 1%;
    padding: 5px 10px 40px 10px;
    border-top: 2px solid var(--bd-color);
    background-color: var(--bg-color);
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transform: translate(0%, 100%) scale(0.9);
    transition: transform 0.4s, opacity 0.7s, visibility 1s;
    z-index: 700;
}
.buddiesPanel ul{
    display: flex;
    justify-content: space-around;
    margin: 4px 0px;
}
.buddiesPanel ul li b{
    text-decoration: underline;
    background-color: rgba(135, 207, 235, 0.533);
    padding: 1px 4px;
    margin-bottom: 25px;
    font-size: 0.95em;
    border-radius: 1px;
    color: #000000;
}
.buddiesPanel p{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #c1fad3;
}
.buddiesPanel #quickNote {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px
}
#note{
    display: flex;
    justify-content: left;
    line-height: 11px;
    font-size: 0.8em;
    text-indent: 9px;
}
#note b{
    font-size: 1.1em;
    color: red;
    margin-left: -4px;
}
#note i{
    font-weight: 100;
}
.defaultMsg{
    font-size: 2em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 5px;
    word-spacing: 5px;
    opacity: 0.5;
}
.open-buddiesPanel{
    opacity: 1;
    bottom: 0%;
    transform: translate(0%, 0%) scale(1);
    width: 100%;
    visibility: visible;
}
/* ================================================================ MAP ======================================================== */
#map{
    width: 100%;
    height: 100vh;
    position: fixed
}
.leaflet-popup-content-wrapper{
    display: flex;
    padding: 0;
    overflow: hidden;
    border: 2px solid var(--bg-color);
}
.leaflet-popup-content-wrapper .leaflet-popup-content{
    margin: 0;
    border: 2x solid  var(--bg-color);
}
.leaflet-popup-content-wrapper .popup-container{
    display: flex;
    background-color: var(--bg-color);
    padding: 0px;
    margin: 0;
    border-radius: 10px;
    overflow: hidden
}
.leaflet-popup-content-wrapper .popup-container #inner-popup-container{
    display: inline;
    margin: 15px;
    height: 100px;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: none;
}
.leaflet-popup-content-wrapper .popup-container #inner-popup-container::-webkit-scrollbar{
    width: 0;
}
.leaflet-popup-content-wrapper .popup-container 
#inner-popup-container div{
    display: flex;
    align-items: center;
    margin: 0;
}
.leaflet-popup-content-wrapper .popup-container 
#inner-popup-container #popup-sender, p{
    display: flex;
    word-wrap: break-word;
    font-weight: 100;
    font-size: 0.8em;
    color: #e6ffff;
}
.leaflet-popup-content-wrapper .popup-container 
#inner-popup-container #popupSenderImg{
    display: flex;
    position: sticky;
    background-color: #e6ffff;
    margin-left: 0;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
.leaflet-popup-content-wrapper .popup-container #inner-popup-container .pop-send-img{
    display: flex;
    margin: 2px auto;
    width: 200px;
    height: 100px;
}
.leaflet-popup-content-wrapper .popup-container #inner-popup-container #popup-footer{
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1px;
    margin: 0px auto;
    width: 25px;
    height: 25px;
    transform: translateY(100%);
    border-bottom: none;
    z-index: 100;
}
.leaflet-popup-content-wrapper .popup-container #inner-popup-container #popup-footer::after{
    content: '';
    position: relative;
    border: 13px solid transparent;
    border-right-color: var(--bg-color);
    transform: rotate(-90deg);
    z-index: 100;
}
.leaflet-popup-content-wrapper .popup-container 
#inner-popup-container i{
    display: flex;
    text-align: center;
    font-size: 0.75em;
    color: #e6ffff;
}
.leaflet-popup-content-wrapper .popup-container 
#inner-popup-container .receiverSideSenderName{
    margin-top: 50px;
    font-weight: 100;
    text-align: center;
    font-size: 0.8em;
    color: #e6ffff;
    a{
        color: #c8ff00;
        font-size: 0.77;
    }
}
.leaflet-popup-content-wrapper .popup-container 
#inner-popup-container .receiverSideSenderImg{
    display: flex;
    position: absolute;
    background-color: #e6ffff;
    margin: 0 auto;
    top: 17px;
    left: 0;
    right: 0;
    width: 45px;
    height: 45px;
    border: #b6d9e1 1px solid;
    padding: 3px;
    border-radius: 50%;
}
/* ================================================================ MOBILE ICON ======================================================================= */
.my-icon{
    display: flex;
    border: 6px double rgb(0, 255, 0);
    margin: auto;
    overflow: hidden;
    max-width: 25px;
    max-height: 25px;
    padding: 5px;
    border-radius: 50px;
}
/* ================================================================== User Icon ======================================================================== */
.leaflet-user-pulsing-icon{
    display: flex;
    position: absolute;
    border-radius: 100%;
    background-color: rgb(255, 0, 0);
    box-shadow: 7px 7px 8px 0 rgba(0,0,0,0.75);
}
.leaflet-user-pulsing-icon::before {
    content: "";
    border-radius: 100%;
    border-top: 3px solid #fcf9aa;
    border-right: 2px solid transparent;
    border-bottom: 3px solid #fcf9aa;
    border-left: 2px solid transparent;
    width: 270%;
    height: 270%;
    position: absolute;
    margin: -95%; 
    animation: rotate-before 2s linear infinite;
}
.leaflet-user-pulsing-icon:after {
    content: "";
    border-radius: 100%;
    border-top: 3px solid #00ff00;
    border-right: 2px solid transparent;
    border-bottom: 3px solid #00ff00;
    border-left: 2px solid transparent;
    width: 280%;
    height: 280%;
    position: absolute;
    animation: rotateAll 2s linear infinite;
    margin: -95%; 
}
/* ================================================================== Guest Icon ======================================================================== */
.leaflet-guest-pulsing-icon{
    display: flex;
    position: absolute;
    border-radius: 100%;
    background-color: rgb(0, 255, 13);
    box-shadow: 7px 7px 8px 0 rgba(0,0,0,0.75);
}
.leaflet-guest-pulsing-icon::before {
    content: "";
    border-radius: 100%;
    border-top: 3px solid #fff;
    border-right: 2px solid transparent;
    width: 300%;
    height: 300%;
    position: absolute;
    margin: -100% 0 0 -100%; 
    animation: rotateAll 2s linear infinite;
}
.leaflet-guest-pulsing-icon:after {
    content: "";
    border-radius: 100%;
    border-bottom: 3px solid rgb(255, 0, 0);
    border-left: 2px solid transparent;
    width: 300%;
    height: 300%;
    position: absolute;
    animation: rotateAll 2s linear infinite;
    margin: -100% 0 0 -100%; 
}
/* ================================================================== Active Guest Icon ======================================================================== */
.leaflet-activeGuest-pulsing-icon{
    display: flex;
    position: absolute;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 7px 7px 8px 0 rgba(0,0,0,0.75);
}
.leaflet-activeGuest-pulsing-icon::before {
    content: "";
    border-radius: 100%;
    border-top: 3px solid #00ff00;
    border-right: 2px solid transparent;
    border-bottom: 3px solid #00ff00;
    border-left: 2px solid transparent;
    width: 280%;
    height: 280%;
    position: absolute;
    margin: -103%; 
    animation: rotate-before 2s linear infinite;
}
.leaflet-activeGuest-pulsing-icon:after {
    content: "";
    border-radius: 100%;
    border: 2px solid #ff0000;
    width: 300%;
    height: 300%;
    position: absolute;
    margin: -110%; 
    transform: scale(1.3);
}
/* ================================================================== Ps borders Guest Icon ======================================================================== */
.leaflet-ps-pulsing-borders-icon{
    display: flex;
    position: absolute;
    border-radius: 100%;
    background-color: #ff0000;
    box-shadow: 7px 7px 8px 0 rgba(0,0,0,0.75);
}
.leaflet-ps-pulsing-borders-icon::before {
    content: "";
    border-radius: 100%;
    border-top: 3px dashed #00ff00;
    border-right: 2px solid transparent;
    border-bottom: 3px dashed #00ff00;
    border-left: 2px solid transparent;
    width: 280%;
    height: 280%;
    position: absolute;
    margin: -103%; 
    animation: rotate-before 2s linear infinite;
}
.leaflet-ps-pulsing-borders-icon:after {
    content: "";
    border-radius: 100%;
    border: 2px dashed #ffffff;
    width: 150%;
    height: 150%;
    position: absolute;
    margin: -40%; 
    transform: scale(1.3);
}
/* ================================================================== Ps mid Guest Icon ======================================================================== */
.leaflet-ps-pulsing-mid-icon{
    display: flex;
    position: absolute;
    border-radius: 100%;
    background-color: #ff0000;
    box-shadow: 7px 7px 8px 0 rgba(0,0,0,0.75);
}
.leaflet-ps-pulsing-mid-icon:after {
    content: "";
    border-radius: 100%;
    border: 2px dashed #ffffff;
    width: 150%;
    height: 150%;
    position: absolute;
    margin: -40%; 
    transform: scale(1.3);
}
@keyframes rotate-before {
    0% {
        transform: rotate(0deg) scale(1.0);
    }
    100% {
        transform: rotate(360deg) scale(1.0);
    }
}
@keyframes rotateAll {
    0% {
        transform: rotate(0deg) scale(1.3);
    }
    100% {
        transform: rotate(360deg) scale(1.3);
    }
}
/* ================================================================== Footer ============================================================================ */
.footer{
    position: fixed;
    background-color: var(--bg-color);
    width: 100%;
    height: 35px;
    bottom: 0;
    z-index: 1000;
}
.footer ul{
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    padding-top: 4px;
}
.footer #home{
    color: var(--bd-color);
    span{
        color: var(--bd-color);
    }
}
.footer div>span{
    display: block;
    font-size: 0.4em;
}
.footer div div:hover{
    color: var(--bd-color);
    span{
        color: var(--bd-color);
    }
}
.footer div span#sp-shareLoc, span#sp-readMe{
    margin-left: -5px;
}


#video{
    display: none;
    position: absolute;
    background-color: #050c74;
    width: 85%;
    height: 100px;
    margin: 0 auto;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
}


.expander div[class="bx bx-aperture"]{
    position: absolute;
    bottom: 15%;
    right: 0;
    margin-right: 20px;
    border: 4px solid var(--bd-color);
    padding: 4px;
    background-color: var(--bg-color);
    border-radius: 50px;
    box-shadow: 1px 1px 11px #00000096;
    font-size: 1.8em;
    color: #b6d9e1;
    transition: border 1s, background-color 1s, color 1s, ease-in-out 0.4s;
    z-index: 950;
}
.expander div[class="bx bx-aperture"]:hover{
    color: var(--bg-color);
    background-color: var(--bd-color);
    border: 1px solid var(--bg-color);
}
.expander .expander-items button.activeExpChild{
    color: #050c74;
}
.expander-items button{
    background: var(--bg-color);
    color: #fff;
    padding: 3px 6px;
    border: 1px solid var(--bd-color);
    border-radius: 4px;
    font-size: 1.1em;
    box-shadow: 0px 3px 4px #000000a1;
    margin-right: 35px;
    transition: background-color 1s, color 1s, padding 1s, ease-in-out 0.4s;
    .bx{
        padding-left: 3px;
    }
}
.my-area{
    position: absolute;
    bottom: 33%;
    right: 5px;
    background-color: transparent;
    font-size: var(--font-size);
    padding: 10px;
    margin: 10px 0;
    z-index: 900;
    transform: translate(30%, 350%) scale(0.1);
    opacity: 0;
    transition: transform 0.4s, opacity 0.5s, right 0.4s;
}
.open-my-area{
    right: 5px;
    opacity: 1;
    transform: translate(0%, 0%) scale(1);
}
.indicators{
    position: absolute;
    bottom: 28%;
    right: 50px;
    background-color: transparent;
    font-size: var(--font-size);
    padding: 10px;
    margin: 8px 0;
    transform: translate(70%, 260%) scale(0.1);
    opacity: 0;
    transition: transform 0.4s, opacity 0.5s, right 0.4s;
    z-index: 900;
}
.open-indicators{
    right: 50px;
    opacity: 1;
    transform: translate(0%, 0%) scale(1);
}
.recordMe{
    position: absolute;
    bottom: 23%;
    right: 80px;
    background-color: transparent;
    font-size: var(--font-size);
    padding: 10px;
    margin: 6px 0;
    transform: translate(100%, 170%) scale(0.1);
    opacity: 0;
    transition: transform 0.4s, opacity 0.5s, right 0.4s;
    z-index: 900;
}
.open-recordMe{
    right: 73px;
    opacity: 1;
    transform: translate(0%, 0%) scale(1);
}
.Ilustration{
    position: absolute;
    bottom: 17%;
    right: 95px;
    background-color: transparent;
    font-size: var(--font-size);
    padding: 10px;
    margin: 5px 0;
    transform: translate(110%, 70%) scale(0.1);
    opacity: 0;
    transition: transform 0.4s, opacity 0.5s, right 0.4s;
    z-index: 900;
}
.open-Ilustration{
    right: 95px;
    opacity: 1;
    transform: translate(0%, 0%) scale(1);
}
.Clear{
    position: absolute;
    bottom: 11%;
    right: 80px;
    background-color: transparent;
    font-size: var(--font-size);
    padding: 0 10px;
    margin: 5px 0;
    transform: translate(100%, -90%) scale(0.1);
    opacity: 0;
    transition: transform 0.4s, opacity 0.5s, right 0.4s;
    z-index: 900;
}
.open-Clear{
    right: 100px;
    opacity: 1;
    transform: translate(0%, 0%) scale(1);   
}
.expander-items button:hover{
    background: #fff;
    color: var(--bg-color);
    padding: 3px 7px;
    border: 1px solid var(--bg-color);
    .bx{
        color: #050c74;
    }
}
/* ====================================== Expander DropDwon Menus ================================================ */
.menus ul li .bx{
    position: relative;
    overflow: hidden;
    margin: auto;
    margin-left: 3px;
    align-items: center;
    justify-content: center;
    transform: translateY(2px);
}

.boundryDropDownMenu{
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 100px;
    transform: translateX(-60%) translateY(-125%);
    overflow: hidden;
    overflow-y: auto;
    z-index: 901;
    scrollbar-width: none;
}
.boundryDropDownMenu::-webkit-scrollbar{
    width: 0;
}
.boundryDropDownMenu ul li{
    display: inline-block;
    position: relative;
    background-color: #050c74;
    width: max-content;
    color: #fff;
    margin: 5px 20px;
    padding: 3px 8px;
    border-radius: 3px;
    border: 1px solid #050c74;
    transition: padding 0.5s, background-color 0.5s, color 0.8s, ease linear
}
.boundryDropDownMenu ul li:hover{
    background-color: #fff;
    color: #050c74;
    border: 1px solid #050c74;
    padding: 3px 8.5px;
    .bx{
        color: #050c74;
    }
}
.boundryDropDownMenu ul li.activeIndicatorIcon{
    background-color: #fff;
    color: #050c74;
    border: 1px solid #050c74;
    padding: 4px 10px;
    .bx{
        color: #050c74;
    }
}
.indicators > .IndicatorDropDownMenu, .deletion, .illus, .record{
    /* display: inline-block; */
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 100px;
    transform: translateX(-220%) translateY(-100%);
    overflow: hidden;
    overflow-y: auto;
    z-index: 901;
    scrollbar-width: none;
}
.indicators > .IndicatorDropDownMenu::-webkit-scrollbar{
    width: 0;
}
.indicators .IndicatorDropDownMenu ul li, .deletion ul li, .illus ul li, .record ul li{
    display: inline-block;
    position: relative;
    width: max-content;
    background-color: #050c74;
    color: #fff;
    margin: 5px 15px;
    align-items: center;
    justify-content: center;
    padding: 3px 8px;
    border-radius: 3px;
    border: 1px solid #050c74;
    transition: padding 0.5s, background-color 0.5s, color 0.8s ease
}
.indicators #custom{
    border: 2px solid #fff;
    width: max-content;
}
.indicators .IndicatorDropDownMenu ul li:hover, 
.deletion ul li:hover, .illus ul li:hover,
.record ul li:hover{
    background-color: #fff;
    color: #050c74;
    border: 1px solid #050c74;
    padding: 3px 8.5px;
    .bx{
        color: #050c74;
    }
}
.indicators .IndicatorDropDownMenu ul li.activeIndicatorIcon, 
.deletion ul li.activeIndicatorIcon, .illus ul li.activeIndicatorIcon,
.record ul li.activeIndicatorIcon{
    background-color: #fff;
    color: #050c74;
    border: 1px solid #050c74;
    padding: 4px 10px;
    .bx{
        color: #050c74;
    }
}
.deletion{
    transform: translateX(-150%) translateY(-30%) scale(0.9);
}
.deletion ul, .deletion ul li, .illus ul{
    display: flex;
    width: 200px;

}
.illus{
    transform: translateX(-140%) translateY(-30%) scale(0.9);
}
.record{
    transform: translateX(-160%) translateY(-30%) scale(0.9);
}
.record ul{
    display: flex;
}
/* ==================================== Custom Indicator ======================================== */
.customInd{
    display: none;
    flex-direction: column;
    position: absolute;
    width: 63vw;
    max-height: 300px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 200px auto;
    padding: 0px 20px;
    padding-bottom: 10px;
    background-color: var(--bg-color);
    border-radius: 5px;
    box-shadow: 1px 1px 11px #00000096;
    font-size: 1.8em;
    overflow: hidden
}
.customInd small{
    display: flex;
    font-size: 0.4em;
    margin: 5px auto;
    color: #e0f6fb;
}
textarea{
    display: flex;
    word-wrap: break-word;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    font-size: 0.4em;
    padding: 8px 10px;
    resize: none;
    color: black;
    overflow: hidden;
    overflow-y: auto;
    max-height: 300px;
    scrollbar-width: none;
}
textarea::-webkit-scrollbar{
    width: 0px;
}
.customInd i{
    display: none;
    position: absolute;
    right: 35px;
    top: 75px;
    font-size: 0.5em;
}
.customInd label{
    background-color: #1a24b2;
    font-size: 0.3em;
    padding: 3px 7px;
    width: fit-content;
    margin: 10px 10px 0 10px;
    border: 1px solid ;
    border-radius: 4px;
    transform: scale(0.85);
    transition: transform 0.3s, background-color 0.3s, border 0.3s ease;
}
.customInd input{
    display: none;
}
.customInd #customIndImg{
    display: none;
    margin-top: 10px;
    width: 200px;
    height: 100px;
    overflow: hidden;
    border-radius: 2px;
}
.customInd button{
    display: inline-block;
    background-color: #1a24b2;
    border: 1px solid ;
    border-radius: 4px;
    width: 50px;
    height: 21px;
    font-size: 0.35em;
    transform: scale(0.85);
    transition: transform 0.3s, background-color 0.3s, border 0.3s ease;
}
.customInd button:active, label:active{
    transform: scale(0.8);
    background-color: #050c74;
    border: 1px solid #434de0;
}
/* ============================================= Toast ===================================================== */
.toast{
    position: absolute;
    border: 1px solid var(--bd-color);
    border-radius: 50px;
    padding: 4px 20px;
    width: fit-content;
    height: fit-content;
    background-color: var(--bg-color);
    color: #fff;
    bottom: 0%;
    right: 50%;
    box-shadow: 0px 4px 4px #000000;
    visibility: hidden;
    opacity: 0;
    transform: translate(50%, 0%) scale(0);
    transition: transform 0.3s, bottom 0.5s, opacity 0.6s;
    z-index: 990;
}
.open-toast{
    visibility: visible; 
    transform: translate(50%, 0%) scale(1);
    opacity: 1;
    bottom: 20%;
}
.toast p{
    font-size: 0.7em;
    font-weight: lighter;
    text-align: center;
}
/* SHARE LOCATION POPUP */
.shareLoc-popup{
    position: fixed;
    width: 450px;
    height: 180px;
    bottom: 0%;
    margin: auto;
    right: 50%;
    padding: 20px 25px;
    background-color: var(--bg-color);
    border-radius: 12px;
    transform: translate(50%, 40%) scale(0.1);
    visibility: hidden;
    opacity: 0;
    transition: transform 0.3s, opacity 0.5s, visibility 0.3s, bottom 0.3s;
    overflow: hidden;
    z-index: 900;
}
.open-shareLoc-popup{
    visibility: visible;
    opacity: 1;
    transform: translate(50%, -100%) scale(0.7);
    bottom: 15%;
}
.shr-phNo{
    display: block;
    position: absolute;
    width: 390px;
    transform: translateX(0%);
    transition: transform 1s, ease-in linear;
}
.slideLeft-phoneNo-col{
    left: 0;
    transform: translateX(-105%);
    transition: transform 1s, left 0.3s, ease-in linear;
}
.shr-phNo input{
    display: flex;
    width: 100%;
    border: none;
    margin-top: 10px;
    padding: 4px 10px;
    outline: none;
    color: black;
    font-size: 1.2em;
    border-radius: 4px;
    letter-spacing: 2px;
    line-height: 35px;
    text-indent: 6px;
    text-align: center;
}
.shr-phNo input:focus{
    text-align: left;
}
.shr-phNo input:focus::placeholder{
    text-align: left;
}
.shr-phNo input::placeholder{
    text-align: center;
}
.shr-phNo div{
    display: flex;
    gap: 25px;
    margin: 10px auto 0 auto;
    justify-content: center;
}
.shareLoc-popup button{
    padding: 7px 15px;
    border-radius: 4px;
    margin: 10px 0 0 0;
    background-color: var(--bg-color);
    color: #fff;
    border: 2px solid;
    font-weight: 600;
    transform: scale(1);
    transition: transform 0.3s;
}
.shareLoc-popup #No-shr{
    background-color: #fff;
    color: var(--bg-color);
    border: 2px solid var(--bg-color);
}
.shareLoc-popup button:active{
    transform: scale(0.9);
}
.shr-psNo{
    transform: translateX(109%);
    margin-top: 28px;
    transition: all 1s, ease linear;
}
.slideLeft-psNo-col{
    transform: translateX(0%);
    margin-top: 28px;
    margin-right: 11px;
    transition: all 1s, ease linear;
}
.showerRight{
    position: absolute;
    background-color: #000000;
    width: 1px;
    height: 40px;
    border-left: 8px double;
    padding: 0 10px;
    margin: auto 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    transform: translateX(35%);
    z-index: 900;
}
.showerLeft{
    position: absolute;
    background-color: #000000;
    width: 1px;
    height: 40px;
    border-right: 8px double;
    padding: 0 10px;
    margin: auto 0;
    top: 0;
    left: 0;
    bottom: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    transform: translateX(-35%);
    z-index: 900;
}
.shr-psNo input{
    display: flex;
    width: 100%;
    border: none;
    padding: 4px 10px;
    outline: none;
    color: black;
    font-size: 1.2em;
    border-radius: 4px;
    letter-spacing: 2px;
    line-height: 35px;
    text-indent: 6px;
    text-align: center;
}
.shr-psNo input:focus{
    text-align: left;
}
.shr-psNo input:focus::placeholder{
    text-align: left;
}
.shr-psNo input::placeholder{
    text-align: center;
}
.shr-psNo button{
    display: flex;
    margin: 20px auto 0 auto;
    justify-content: center;
}
/* =========================================== userConsent ======================================= */
.userConsent, #closeMea{
    display: none;
    flex-direction: column;
    background-color: #050c74;
    position: absolute;
    width: 50%;
    height: max-content;
    margin: auto;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px 20px 10px 20px;
    text-align: center;
    border-radius: 4px;
}
#closeMea{
    color: #fff;
    transform:  translate(114px, 11px);
    width: fit-content;
    height: fit-content;
    padding: 3px;
}
.userConsent p{
    font-size: 0.8em;
    word-wrap: break-word;
    color: #e6ffff;;
}
.userConsent div{
    display: flex;
    gap: 25px;
    margin: 0 auto;
}
.userConsent button{
    display: none;
    padding: 7px 15px;
    border-radius: 4px;
    margin: 10px 0 0 0;
    background-color: var(--bg-color);
    color: #fff;
    border: 2px solid;
    font-weight: 600;
    transform: scale(0.6);
    transition: transform 0.3s;
}
.userConsent #no{
    background-color: #fff;
    color: var(--bg-color);
    border: 2px solid var(--bg-color);
}
.userConsent button:active{
    transform: scale(0.55);
}
/* ==================================   MobileView  ========================================== */
@media (max-width: 481px) and (max-height: 900px) {
    .header nav{
        height: 30px;
    }
    .container{
        position: fixed;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }
    .header h1{
        font-size: 1em;
        margin-left: 10px;
    }
    .header nav ul{
        display: inherit;
        align-items: center;
        margin-left: auto;
    }
    .header nav ul li{
        padding-right: 5px;
    }
    #readOut{
        display: flex;
        font-size: 0.7em;
        position: absolute;
        left: 18%;
    }
    .symbol{
        transform: scale(0.34) translateX(2px) translateY(-13px);
    }
    #menu{
        font-size: 1.3em;
        margin-right: auto;
    }
    .setting{
        display: none;
        border-left: 0px solid #050c74;
        box-shadow: -1px 0px 30px #0000004f, -1px 0px 10px 1px #7774d711;
        width: 75%;
        z-index: 1000;
    }
    .setting h4{
        font-size: 0.85em;
    }
    .setting label{
        top: -103px
    }
    .setting ol li{
        color: #000000;
        font-size: 0.8em;
        #isAutomate{
            right: 10px;
            transform: scale(1.2);
            padding: 0px 4px;
        }
    }
    .setting small{
        display: block;
        text-decoration: none;
        color: #050c74;
        font-size: .7em;
    }
    .trip{
        .bx-play, .bx-x{
            margin-left: auto;
            margin-right: 0px;
            transform: translateX(-20px) scale(1.4);
            transition: all .5s, ease linear;
        }
        .bx-play{
            transform: translateX(-45px) scale(1.4);
        }
    }
    #notification{
        font-size: 1.1em
    }
    /* SIGNAL LOADER */
    .accSignal, .accSignal::before{
        border: 9px double transparent;
    }
    .accSignal{
        padding: 0px;
        animation: wifiLoading 2s ease-in infinite;
    }
    .header nav ul li img{
        width: 21px;
        height: 21px;
        border: 1px solid var(--bd-color);
        box-shadow: 0.1px 0px 5px #00d5ffa3
    }
    .header .buddies{
        margin: 0;
    }
    .header .buddies ul{
        justify-content: space-between;
        margin: 0 30%;
    }
    .header .buddies ul li:first-child{
        margin-left: -20px;
    }
    .header .buddies ul img{
        width: 29px;
        height: 35px;
        border: 1px solid var(--bd-color);
        padding: 0.5px;
        margin-top: 25px
    }
    .header .buddies ul li div{
        position: fixed;
        margin-top: 25px;
        margin-left: 25px;
        background-color: var(--bg-color);
        color: rgb(8, 252, 142);
        padding-right: 2px;
        border-radius: 2px;
        transform: scale(1);
        transition: transform 0.3s;
        z-index: 800;
    }
    .header .buddies ul li div:active{
        transform: scale(0.97);
    }
    .buddiesPanel h4{
        margin-top: -3px;
        padding-bottom: 4px;
    }
    .buddiesPanel #quickNote {
        border-top: 2px solid rgba(135, 207, 235, 0.356);
        padding-top: 4px;
        margin-bottom: 10px;
        overflow: hidden
    }
    .buddiesPanel ul{
        display: flex;
        justify-content: space-around;
        font-size: 0.9em;
    }
    .buddiesPanel ul li b{
        margin-bottom: 15px;
    }
    .buddiesPanel #quickNote .defaultMsg{
        font-size: 1.3em;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        letter-spacing: 3px;
        word-spacing: 3px;
        opacity: 0.4;
    }
    .buddiesPanel #quickNote p{
        font-size: 0.9em;
    }
    #map{
        width: 100%;
        height: 110vh;
        position: fixed;
        overflow: hidden;
        background-color: #000000;
    }
    /* ========================================= Trip Recording ================================== */
    .rec{
        display: none;
        .onRecording{
            top: 90px;
            right: 33px;
            max-width: 100px;
            ul{
                font-size: 0.6em;
            }
        }
        #displayRec{
            top: 89px;
            right: 10px;
            font-size: 0.95em;
        }
    }
    /* ======================================== Footre ======================================== */
    .footer{
        font-size: 0.95em;
        bottom: 0px
    }
    .footer ul{
        margin: 0 10px
    }
    .footer div>span{
        display: block;
        font-size: 0.4em;
    }
    .footer div{
        transform: scale(1);
        transition: all 0.3s;
    }
    .footer div:active{
        transform: scale(0.95);
    }
    .expander div[class="bx bx-aperture"]{
        margin: auto;
        margin-right: 10px;
        border: 3.5px solid var(--bd-color);
        padding: 2px;
        border-radius: 50%;
        box-shadow: 1px 1px 11px #00000096;
        font-size: 1.5em;
        transform: scale(1);
        transition: border 0.3s, background-color 0.2s, color 0.3s, transform 0.3s, ease-in-out 0.4s
    }
    .expander div[class="bx bx-aperture"]:hover{
        color: #b6d9e1;
        background-color: var(--bg-color);
        border: 3.5px solid var(--bd-color);
    }
    .expander div[class="bx bx-aperture"]:active{
        transform: scale(0.95);
        color: var(--bg-color);
        background-color: var(--bd-color);
        border: 1px solid var(--bg-color)
    }
    .expander-items button{
        font-size: 0.9em;
        box-shadow: 0.8px 3px 5px #00000087;
        margin-right: 10px
    }
    .my-area{
        right: 5px;
        margin: 12px 0;
        transform: translate(30%, 125px) scale(0);
    }
    .open-my-area{
        right: 5px;
        opacity: 1;
        transform: translate(0%, 70%) scale(1);
    }
    .indicators{
        bottom: 30%;
        right: 40px;
        margin: 14px 0;
        transform: translate(70%, 260%) scale(0);
        opacity: 0
    }
    .customInd{ /* ============================================= CUSTOM INDICATOR POP UP ============================================= */
        width: 85vw;
    }
    .customInd #customIndImg{
        width: 100px;
        height: 100px;
    }
    .customInd button{
        transform: scale(0.85);
    }
    .customInd button:active{
        transform: scale(0.78);
    }
    .open-indicators{
        right: 40px;
        opacity: 1;
        transform: translate(0%, 108%) scale(1);
    }
    .recordMe{
        bottom: 24%;
        right: 70px;
        margin: 4px 0;
        transform: translate(100%, 170%) scale(0.1);
        opacity: 0
    }
    .open-recordMe{
        right: 60px;
        opacity: 1;
        transform: translate(0%, 70%) scale(1);
    }
    .Ilustration{
        bottom: 18%;
        right:75px;
        margin: 5px 0;
        transform: translate(120%, 70%) scale(0.1);
        opacity: 0
    }
    .open-Ilustration{
        right: 85px;
        opacity: 1;
        transform: translate(0%, 70%) scale(1);
    }
    .Clear{
        right: 75px;
        margin: 5px 0;
        transform: translate(120%, -130%) scale(0.1);
        opacity: 0
    }
    .open-Clear{
        right: 80px;
        opacity: 1;
        transform: translate(0%, 70%) scale(1);   
    }
    /* ========================================== Dropdown Menus ============================== */
    .boundryDropDownMenu{
        transform: translate(-50%, -125%) scale(0.9);
    }
    .boundryDropDownMenu ul li{
        display: inline-block;
        margin: 3px 10px;
        padding: 3px 5px;
    }
    .boundryDropDownMenu ul li.activeIndicatorIcon{
        margin: 3px 10px;
        padding: 3px 5px;
    }
    .indicators > .IndicatorDropDownMenu{
        height: 100px;
        transform: translate(-150%, -110%) scale(0.9);
    }
    .Clear .deletion{
        height: fit-content;
        transform: translate(-110%, -55%) scale(0.9);
    }
    .Ilustration .illus{
        height: fit-content;
        transform: translate(-150%, -110%) scale(0.9);
    }
    .recordMe .record{
        height: fit-content;
        transform: translate(-145%, -110%) scale(0.9);
    }
    .indicators > .IndicatorDropDownMenu::-webkit-scrollbar{
        width: 0;
    }
    .indicators .IndicatorDropDownMenu ul li, .Clear .deletion ul li, .illus ul li, .record ul li{
        display: inline-block;
        padding: 3px 5px;
        margin: 3px 10px;
    }
    .indicators .IndicatorDropDownMenu ul li.activeIndicatorIcon, 
    .deletion ul li.activeIndicatorIcon, .illus ul li.activeIndicatorIcon,
    .record ul li.activeIndicatorIcon{
        padding: 3px 7px
    }
    .deletion ul li, .illus ul, .record ul{
        display: flex;
        width: max-content;
    }
    .toast p{
        font-size: 0.6em
    }
    .shareLoc-popup{
        padding: 15px 25px;
        box-shadow: 0px 0px 100px #00000043;
        border-radius: 8px;
        transform: translate(50%, 40%) scale(0.1)
    }
    .open-shareLoc-popup{
        visibility: visible;
        opacity: 1;
        transform: translate(50%, -90%) scale(0.6);
        bottom: 15%;
    }
    .shr-phNo input{
        font-size: 1.0em;
        line-height: 30px;
    }
    .shr-psNo input{
        font-size: 1.0em;
        line-height: 30px;
    }
    .shareLoc-popup button{
        padding: 4px 8px;
    }
    .userConsent{
        width: 75%;
    }
    .userConsent p{
        font-size: 0.7em;
    }
    .userConsent div{
        gap: 10px;
    }
    .userConsent button{
        margin: 10px 0 0 0;
        transform: scale(0.53);
    }
}
/* ============================================ MobileView On Rotate ============================================ */
@media (min-width: 481px) and (max-height: 412px) {
    :root{
        font-size: 0.7em;
    }
    .container{
        position: fixed;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }
    .header h1{
        font-size: 1em;
        margin-left: 10px;
    }
    .header nav ul{
        display: inherit;
        align-items: center;
        margin-left: auto;
    }
    .header nav ul li{
        padding-right: 10px;
    }
    .symbol{
        transform: scale(0.35) translateX(10px) translateY(-15px);
    }
    #menu{
        display: block;
        font-size: 1.2em;
        margin-right: 3px;
    }
    .setting{
        display: none;
        border-left: 0px solid #050c74;
        box-shadow: 0px 0px 0px 0px #7774d711;
        width: 100%;
        z-index: 10000;
    }
    .setting h4{
        font-size: 0.7em;
    }
    .setting ol li{
        font-size: 0.6em;
        margin: 4px 20px;
        padding: 8px 5px;
        #isAutomate{
            transform: scale(1.2);
            right: 20px;
        }
    }
    .setting ol #inList{
        display: inline-block;
        width: 100%;
        height: 150px;
        padding: 5px 0px 50px 0px;
        overflow: hidden;
        overflow-y: auto;
    }
    .setting ol #inList::-webkit-scrollbar{
        width: 0;
    }
    #notification{
        font-size: 1.0em
    }
    /* SIGNAL LOADER */
    .accSignal, .accSignal::before{
        border: 9px double transparent;
    }
    .accSignal{
        padding: 0px;
        animation: wifiLoading 2s ease-in infinite;
    }
    .header nav ul li img{
        width: 20px;
        height: 20px;
        border: 1px solid var(--bd-color);
        box-shadow: 0.1px 0px 5px #00d5ff
    }
    .header .buddies{
        margin: 0;
    }
    .header .buddies ul{
        justify-content: space-between;
        margin: 0 30%;
    }
    .header .buddies ul li:first-child{
        margin-left: -20px;
    }
    .header .buddies ul img{
        width: 26px;
        height: 32px;
        border: 2px solid var(--bd-color);
        padding: 2px;
        margin-top: 20px
    }
    .buddiesPanel ul li b{
        line-height: 25px;
        margin-bottom: 9px;
    }
    .defaultMsg{
        font-size: 1.3em;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        letter-spacing: 3px;
        word-spacing: 3px;
        opacity: 0.4;
    }
    #map{
        width: 100%;
        height: 120vh;
        position: fixed;
    }
    /* ========================================= Trip Recording ================================== */
    .rec{
        display: none;
        .onRecording{
            height: 18px;
            top: 78px;
            right: 35px;
            max-width: 100px;
            ul{
                font-size: 0.5em;
            }
        }
        #displayRec{
            top: 74px;
            right: 10px;
            transform: scale(0.75);
        }
        #displayRec:active{
            transform: scale(0.7);
        }
    }
    /* ======================================== Footre ======================================== */
    .footer{
        font-size: 0.95em;
        bottom: 0px
    }
    .footer ul{
        margin: auto 10px;
    }
    .footer div>span{
        display: block;
        font-size: 0.4em;
    }
    .footer div{
        transform: scale(0.9);
        transition: transform 0.3s;
    }
    .footer div:active{
        transform: scale(0.85);
    }
    .expander div[class="bx bx-aperture"]{
        margin: auto;
        margin-right: 10px;
        border: 3.5px solid var(--bd-color);
        padding: 2px;
        border-radius: 50%;
        box-shadow: 1px 1px 11px #00000096;
        font-size: 1.5em;
        transform: scale(1);
        transition: border 0.3s, background-color 0.2s, color 0.3s, transform 0.3s, ease-in-out 0.4s
    }
    .expander div[class="bx bx-aperture"]:hover{
        color: #b6d9e1;
        background-color: var(--bg-color);
        border: 3.5px solid var(--bd-color);
    }
    .expander div[class="bx bx-aperture"]:active{
        transform: scale(0.95);
        color: var(--bg-color);
        background-color: var(--bd-color);
        border: 1px solid var(--bg-color)
    }
    .expander-items button{
        font-size: 1.1em;
        box-shadow: 0.8px 3px 5px #00000087;
        margin-right: 15px
    }
    .my-area{
        right: 5px;
        margin: 12px 0;
        transform: translate(30%, 75px) scale(0);
    }
    .open-my-area{
        right: 5px;
        opacity: 1;
        transform: translate(10%, -20%) scale(0.9);
    }
    .indicators{
        bottom: 30%;
        right: 40px;
        margin: 14px 0;
        transform: translate(80%, 180%) scale(0);
    }
    .customInd{
        margin: 70px auto;
        width: 50vw;
    }
    .customInd small{
        font-size: 0.3em;
    }
    .customInd #customIndImg{
        width: 100px;
        height: 100px;
    }
    .customInd button{
        transform: scale(0.85);
    }
    .customInd button:active{
        transform: scale(0.78);
    }
    .open-indicators{
        right: 40px;
        opacity: 1;
        transform: translate(0%, 25%) scale(0.9);
    }
    .recordMe{
        bottom: 24%;
        right: 70px;
        margin: 4px 0;
        transform: translate(110%, 120%) scale(0);
    }
    .open-recordMe{
        right: 60px;
        opacity: 1;
        transform: translate(-30%, 28%) scale(0.9);
    }
    .Ilustration{
        bottom: 18%;
        right:75px;
        margin: 5px 0;
        transform: translate(130%, 70%) scale(0);
    }
    .open-Ilustration{
        right: 85px;
        opacity: 1;
        transform: translate(-90%, 32%) scale(0.9);
    }
    .Clear{
        right: 75px;
        margin: 5px 0;
        transform: translate(135%, -10%) scale(0);
    }
    .open-Clear{
        right: 185px;
        opacity: 1;
        transform: translate(-120%, 35%) scale(0.9);   
    }
    /* ========================================== Dropdown Menus ============================== */
    .boundryDropDownMenu{
        transform: translate(-50%, -125%) scale(0.9);
    }
    .boundryDropDownMenu ul li{
        display: inline-block;
        margin: 3px 30px;
        padding: 3px 5px;
    }
    .boundryDropDownMenu ul li.activeIndicatorIcon{
        margin: 3px 30px;
        padding: 3px 5px;
    }
    .indicators > .IndicatorDropDownMenu{
        height: 100px;
        transform: translate(-150%, -110%) scale(0.9);
    }
    .Clear .deletion{
        height: fit-content;
        transform: translate(-130%, -55%) scale(0.9);
    }
    .Ilustration .illus{
        height: fit-content;
        transform: translate(-150%, -110%) scale(0.9);
    }
    .recordMe .record{
        height: fit-content;
        transform: translate(-145%, -110%) scale(0.9);
    }
    .indicators > .IndicatorDropDownMenu::-webkit-scrollbar{
        width: 0;
    }
    .indicators .IndicatorDropDownMenu ul li, .Clear .deletion ul li, .illus ul li, .record ul li{
        display: inline-block;
        width: fit-content;
        padding: 3px 5px;
        margin: 3px 10px;
    }
    .indicators #custom{
        border: 2px solid #fff;
    }
    .indicators .IndicatorDropDownMenu ul li.activeIndicatorIcon, 
    .deletion ul li.activeIndicatorIcon, .illus ul li.activeIndicatorIcon,
    .record ul li.activeIndicatorIcon{
        padding: 3px 7px
    }
    .deletion ul li, .illus ul, .record ul{
        display: flex;
        width: fit-content;
    }
    .toast p{
        font-size: 0.6em
    }
    .shareLoc-popup{
        padding: 15px 20px;
        box-shadow: 0px 0px 10px #00000043;
        border-radius: 8px;
        transform: translate(50%, 40%) scale(0.1)
    }
    .open-shareLoc-popup{
        visibility: visible;
        opacity: 1;
        transform: translate(50%, -20%) scale(0.6);
        bottom: 15%;
    }
    .shr-phNo input{
        font-size: 1.0em;
        line-height: 30px;
    }
    .shr-psNo input{
        font-size: 1.0em;
        line-height: 30px;
    }
    .shareLoc-popup button{
        padding: 4px 8px;
    }
    .userConsent p{
        font-size: 0.7em;
    }
    .userConsent div{
        gap: 10px;
    }
    .userConsent button{
        margin: 10px 0 0 0;
        transform: scale(0.53);
    }
}
/* MobileView Display None On Screen < 160px Height When Rotate ======================================== */
@media (min-width: 481px) and (max-height: 150px) {
    body{
        background-color: #fff;
    }
    .container{
        display: none;
    }
}